.produkt-detaljer-faktaboks {
  background: rgba(241, 241, 241, 20);
  padding: 1%;
  margin: 1%;
}

.produkt-detaljer-tilganger {
  background: rgba(241, 241, 241, 20);
  padding: 1%;
  margin: 1%;
}

.produktdetalj-knapper {
  margin-top: 15%;
}

.produktdetalj-knapper > button {
  margin-bottom: 10px;
  width: 80%;
}
/*
h2 {
  padding: 2%;
}
*/
