@import "~nav-frontend-core";

.produkt-tilganger {
  padding: 0 !important;

  .produkt-tilgang {
    background: white;
    border: 1px solid @navGra40;
    padding: 0.4rem 0.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    > svg {
      height: 35px !important;
      margin-right: 10px;
    }

    > .tilgangsTekst {
      flex-grow: 1;
    }
  }
}
