@import "~nav-frontend-core";

@media screen and (max-width: 768px) {
  .knapperad {
    width: 100%;

    & button {
      width: 100%;
    }
  }

  .produkt-detalj {
    flex-direction: column;

    > div {
      margin: 0 !important;
      margin-top: 10px !important;
    }
  }

  .faktaboks {
    width: 100%;
  }
}

.slette-bekreftelse {
  min-width: 150px;
  min-height: 80px;

  button {
    margin: 20px 40px;
  }
}

.produkt-detalj {
  display: flex;
  align-items: flex-start;

  > div {
    margin: 1em 1em 0 1em;
  }

  .produktnavn {
    margin-bottom: 10px;
  }


  .knapperad {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 10px;
      width: auto;
    }
  }

  .faktaboks {
    //background: @navLysGra;
    //border: 2px solid black;
    padding: 1em;
    flex-grow: 1;

    >h1 {
      text-align: center;
    }

    & .beskrivelse {
      margin: 0 0 1.5rem 0;
      font-style: italic;
    }

    > .faktaboks-avsnitt {
      display: flex;

      > h2 {
        margin-top: 1rem;
        padding-right: 1.5rem;
        width: 180px;
        text-align: right;
        border-right: 5px solid @navBlaLighten20;
      }

      > div {
        flex-grow: 1;
        width: 100%;
        padding: 1rem 2rem 1rem 1.5rem;
        margin: 1rem 0.5rem 0 0;
        align-items: center;

        //background: @navBlaLighten80;
        > svg {
          height: 90px !important;
          margin-right: 1rem;
          background: @navBlaLighten80;
        }

        ul {
          list-style: none;
          padding-left: 0;
          margin: 0;
        }
      }
    }
  }
}

.infoBoks {
  //background: white;
  //border: 1px solid @navGra40;
}
